nav, h1, h2, h5 {
font-family: 'Syncopate', sans-serif !important;
}

.jumbotron {
    background-image: url("https://images2.alphacoders.com/729/thumb-1920-729739.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    color: white;
}

.weaponTypes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    padding: 10px;
    margin: 30px;
    align-items: center;
}

.card-img-top {
    height: 20vh;
    width: 100%;
}

.btn {
    background-color: gray;
    border-color: seashell;
    color: white;
    align-self: center;
}
.btn:hover {
    background-color:dimgrey;
    border-color: dimgrey;
}

footer {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.fa {
    margin: 10px;
}

.carousel-item {
    height: 70vh;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

.refs {
    /* display: inline-block; */
}
.ref-img {
    /* display: inline-block; */
    height: 30vw;
}

.epee-pic {
    height: 100%;
}
